<div class="col-sm-12 clearfix">
  <div class="laurel"><img class="img-responsive" src="/images/laurels/sarasota.png"/></div>
  <div class="laurel"><img class="img-responsive" src="/images/laurels/santropez.png"/></div>
  <div class="laurel"><img class="img-responsive" src="/images/laurels/cannes1.png"/></div>
</div>

<div class="col-sm-12">
  <h1>Project Statement</h1>
  <p>
    <span class="shipoffools">ship of fools</span> is a cinematic journey set in 1972. It follows the story of fictional rock photographer Richie Hughes
    and his time on the road with the drug fueled band "Stranded". Embracing an innovative form of collaboration, the story was created, developed, and co-written
    by Maggie Fine, Mallory Gracenin, Rotimi Paul, and Natasha Soto-Albors. Directed by Mike McGuirk, working with Director of Photography John Kelley, it incorporates the
    use of beautiful cinematography with elaborate steadi-cam shots and the use of advanced cameras like the Phantom Miro.
    With an original soundtrack by Tony Perry and Brendan McGuirk, <span class="shipoffools">ship of fools</span> is musically galvanized to create a
    powerfully entertaining story.
  </p>
  <hr>
  <h1>Production Notes</h1>
  <h2><strong>How the Creative Team Met</strong></h2>
  <p>
    The creators of <span class="shipoffools">ship of fools</span> are actors who met while working at the Gramercy Park Hotel in New York City. Brought
    together by their desire to build an original film concept, the team began exploring ideas and imagery that developed
    into <span class="shipoffools">ship of fools</span>.
  </p>
  <h2><strong>How the Production Came Together</strong></h2>
  <p>
    The creators of <span class="shipoffools">ship of fools</span> developed the screenplay and simultaneously began the pre-production process over the
    course of several months. As the project evolved producer Patricia Beaury, known in the NYC indie film scene for
    uniting and fostering young talent, was approached by Maggie Fine and the rest of the creative team. Mike McGuirk
    (Director) worked with Patty as an Assistant Director and in the trenches of filmmaking they formed a great
    working relationship. As the production team was assembled  <span class="shipoffools">ship of fools</span> grew to include cinematographer and world
    class Steadi-cam operator John Kelley, his Red Epic, his B2Pro friends, Rob Kolodny and his Phantom Miro camera, and
    Nick Ramirez, our incredible editor. The result is a magical short film crafted by an incredibly talented group of
    friends and artists.
  </p>
  <h2><strong>The Most Challenging Aspect of Shooting <span class="shipoffools">ship of fools</span></strong></h2>
  <p>
    "When I first read the script I knew there were going to be some complex shots. <span class="shipoffools">ship of fools</span> is a musically oriented
    film and to capture all the excitement of becoming a successful musician in the 70s it called for smooth movements. I
    love setting up complex establishing shots and sequences. So we used John's Steadi-cam to build these elaborate shots.
    In the first scene we are transported back to 1972. We are located on 6th Street in the East Village. Yes, what you see
    in the film is actually 6th Street and we shut down the entire block to get thirteen takes. We needed a great car for
    the band. This is when "Patty Magic" (a phrase coined by Mr. McGuirk referring to Patty Beaury's ability to "pull off
    anything") was able to get a hold of an old friend who lives on Martha's Vineyard that owns a 1972 Volkswagen Bug and
    a friend of mine from Cape Cod took the bug on the ferry over to the mainland and drove it to New York City. All these
    elements came together on a beautiful Sunday morning and the rest is short film history."<br>
    <em>- Director Mike McGuirk</em>
  </p>
  <h2><strong>The Music</strong></h2>
  <p>
    Our film was scored by Mike McGuirk's Cousin, Brendan McGuirk, and Tony Perry, son the Aerosmith Guitarist Joe Perry.
    They were able to put together an incredibly exciting score that was recorded at Joe's studio The Boneyard, in
    Duxbury, Massachusetts.
  </p>
  <h2><strong>The Creative Team's Inspiration for <span class="shipoffools">ship of fools</span></strong></h2>
  <p>
    Maggie Fine, Mallory Gracenin, Rotimi Paul, and Natasha Soto-Albors began the process of developing <span class="shipoffools">ship of fools</span> by
    establishing a unique storyboarding method. Each individual gathered photographic images they felt could inspire a
    powerful narrative. These images were compiled and the group identified striking connections and themes in the gathered
    material. A tale about rock and roll, photography, and the 1970's began to emerge. The group met week after week
    building upon the idea until they had a complete screenplay.
  </p>

  <p>
    "You know how you have images you randomly save on your computer--either because they inspire you, or make you laugh,
    or cry?"
  </p>
  <p>
    "Of course, I saved a couple last night from a blog I like."
  </p>
  <p>
    "What if the 4 of us brought 5 images each, random ones that speak to us and make a storyboard, link the images
    together, script it, and film it?"
  </p>
  <p>
    The answer was yes. It sounded fun, creative and all of us were curious to see where it would go. That was the very
    crude beginning of how <span class="shipoffools">ship of fools</span> came to be. What we wound up creating is a short
    film that is an ode to Rock and Roll, the 70s, the power of a photograph and New York City.
  </p>
</div>