<div class="container bs-docs-container">
  <div class="row">
    <div class="col-sm-2">
      <div id="sidebar" class="bs-docs-sidebar hidden-print affix" role="custom">
        <h4>The Cast</h4>
        <ul class="nav bs-docs-sidenav">
          <li>
            <a href="#MaggieFine">Maggie Fine</a>
          </li>
          <li>
            <a href="#MalloryGracenin">Mallory Gracenin</a>
          </li>
          <li>
            <a href="#RotimiPaul">Rotimi Paul</a>
          </li>
          <li>
            <a href="#NatashaSotoAlbors">Natasha Soto-Albors</a>
          </li>
          <li>
            <a href="#TamaFilianga">Tama Filianga</a>
          </li>
          <li>
            <a href="#RichDreher">Rich Dreher</a>
          </li>
          <li>
            <a href="#WillDeMeo">Will De Meo</a>
          </li>
          <li>
            <a id="SPlink" href="#StevePyke">Steve Pyke</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-sm-10" role="main">
      <div class="anchor" id="MaggieFine"></div>
      <div class="bs-docs-section">
        <div class="row featurette">
          <div class="col-sm-4">
            <img class="img-responsive" src="/images/headshots/MFheadshot.jpg"/>
          </div>
          <div class="col-sm-8">
            <h2 class="featurette-heading">Maggie Fine<br><span class="text-muted">Co-Writer, Producer, Frannie Strand</span></h2>
            <p>MAGGIE FINE  is a New York based  actress/writer/and producer and plays the role of FRANNIE in SHIP OF
              FOOLS. A native of Santa Fe, New Mexico, Maggie received her B.F.A in Acting from De Paul Theater School
              in Chicago. As an actress she has worked professionally in stage and television since graduation. Televison
              credits include guest star/co-star roles on Breaking Bad (AMC), Boardwalk Empire (HBO), In Plain Sight
              (USA Network) and the short lived televison series, Scoundrels on ABC, starring Virgina Madsen. Theater
              Credits include roles in numerous theater productions in Chicago, Los Angeles, and New York.Some of which
              include "Time of Your Life" /Steppenwolf Theater, Chicago; "Blue Surge"/ The Goodman Theater, Chicago, and
              the world premier of Sam Shepard's " God of Hell" at the Geffen Playhouse, Los Angeles,  directed by Jason
              Alexander and co-starring Bryan Cranston. In 2012, Maggie attached executive producers Harvey Weinstein and
              Bryan Cranston to develop her first original television series concept with TWC and currently she is in
              talks of development on her second. Maggie is Co-writer, Producer, and Lead  Actress of SHIP OF FOOLS.
            </p>
          </div>
        </div>
      </div>
      <hr class="featurette-divider">
      <div class="anchor" id="MalloryGracenin"></div>
      <div class="bs-docs-section">
        <div class="row featurette">
          <div class="col-sm-4 right">
            <img class="img-responsive" src="/images/headshots/MGheadshot.jpg"/>
          </div>
          <div class="col-sm-8">
            <h2 class="featurette-heading">Mallory Gracenin<br><span class="text-muted">Co-Writer, Producer, Heather Styles</span></h2>
            <p>Mallory Gracenin is a co-writer, co-producer and actress in Ship of Fools. She is based in Brooklyn,
              New York. She has acted in many indie-shorts and theatre productions throughout NYC. She can currently be
              seen in the critically acclaimed New York City theatre production, Sleep No More.
              <br>
              For more info: <a>www.mallorygracenin.com</a></p>
          </div>
        </div>
      </div>
      <hr class="featurette-divider">
      <div class="anchor" id="RotimiPaul"></div>
      <div class="bs-docs-section">
        <div class="row featurette">
          <div class="col-sm-4">
            <img class="img-responsive" src="/images/headshots/RPheadshot.jpg"/>
          </div>
          <div class="col-sm-8">
            <h2 class="featurette-heading">Rotimi Paul<br><span class="text-muted">Co-Writer, Producer, Julien Samuels</span></h2>
            <p>Rotimi is an actor, writer, producer and filmmaker, based in New York. “Ship of
              Fools” marks his debut filmmaking effort. Additional, recent, film credits include
              the feature “Dutch Kills”, and the shorts “New York, I Love You” and “Recursion.”
              His New York Theater credits include “Dutchman” (45th St. Theater),
              “Multiplication” (Manhattan Rep. Theater), “How the Moon Fell in Love” (Shell
              Theater), and “Family Business” (Shell Theater) where he originated the role of
              Angel Lopez. Regionally, he has appeared in The Member of the Wedding
              (Redhouse Theater), Wine in the Wilderness (Paul Robeson Performing Arts
              Co.), and La Cirque Jolie (Paul Robeson Performing Arts Co.). Rotimi’s TV
              credits include: “As The World Turns” (CBS) and “Late Night with Jimmy Fallon”
              (NBC). His numerous commercial appearances include Comcast, Puma, ESPN,
              Carmax, Heineken and Intel. He is a graduate of Syracuse University, and the
              William Esper Studio conservatory program.<br>
              <a href="https://www.rotimipaul.com" target="_blank">www.rotimipaul.com</a>
            </p>
          </div>
        </div>
      </div>
      <hr class="featurette-divider">
      <div class="anchor" id="NatashaSotoAlbors"></div>
      <div class="bs-docs-section">
        <div class="row featurette">
          <div class="col-sm-4 right">
            <img class="img-responsive" src="/images/headshots/NSheadshot.jpg"/>
          </div>
          <div class="col-sm-8">
            <h2 class="featurette-heading">Natasha Soto-Albors<br><span class="text-muted">Co-Writer, Producer, Sofia Diaz</span></h2>
            <p>Natasha was born and raised in Northern California, where she began her training as an actress,
              singer, and dancer. She received a B.F.A. in Drama from New York University’s Tisch School of
              the Arts and has gone on to work in theater, film, television, voiceover and print. Natasha
              appeared on One Life to Live (ABC) and in the independent films Lloyd Neck and Tiny Dancer.
              Regional and New York theater work has included Arok of Java (Exit, Pursued by Bear), Top of
              the Heap (The Gallery Players), Rebel Girls (CAP21 Theater Company), and The Radio City
              Christmas Spectacular (The Fox Theater- Detroit). Natasha has voiced characters for several
              award-winning interactive children’s apps based on the books of Mercer Mayer, including Little
              Red Riding Hood and The Trip. Ship of Fools marks Natasha’s debut as a screenwriter and
              producer. She has several new projects in development, including producing and co-starring in
              an original web series titled “Token”.
              <br>
              To learn more about Natasha you can visit her official website:
              <a href="http://www.natashasotoalbors.com" target="_blank">www.natashasotoalbors.com</a></p>
          </div>
        </div>
      </div>
      <hr class="featurette-divider">
      <div class="anchor" id="TamaFilianga"></div>
      <div class="bs-docs-section">
        <div class="row featurette">
          <div class="col-sm-4">
            <img class="img-responsive" src="/images/headshots/TFheadshot.jpg"/>
          </div>
          <div class="col-sm-8">
            <h2 class="featurette-heading">Tama Filianga<br><span class="text-muted">Phoenix Strand</span></h2>
            <p>
              Originally from San Fransisco, Tama is a passionate actor, writer, and independent film maker who is
              extremely dedicated to his work. After attending the California Culinary Academy, he moved to New York
              City where he held a series of odd jobs before deciding to seek acting as a career. It was after this
              pivotal decision that he trained at Michael Howard Studios, NYC. His writing and acting experience ranges
              from short films to pilot sizzle reels to feature-length narratives. He currently resides in Brooklyn.
              He is always looking to collaborate with other actors/writers/artists and the like.<br>
              <a href="http://www.tamafilianga.com" target="_blank">tamafilianga.com</a>
            </p>
          </div>
        </div>
      </div>
      <hr class="featurette-divider">
      <div class="anchor" id="RichDreher"></div>
      <div class="bs-docs-section">
        <div class="row featurette">
          <div class="col-sm-4 right">
            <img class="img-responsive" src="/images/headshots/RDheadshot.jpg"/>
          </div>
          <div class="col-sm-8">
            <h2 class="featurette-heading">Rich Dreher<br><span class="text-muted">Young Richie Hughes</span></h2>
            <p>Rich is an actor living and working in New York City. Rich appeared on television as Jeremy in Cashmere
              Mafia (ABC). His film credits include the short films Crawling Skin and As Love Grows. Theater credits
              include Jester's Dead: A Top Gun Shakes-Parody at the PIT, Dark Rapture by Eric Overmeyer with the Attic
              Theater Company, Twelfth Night and She Stoops to Conquer at McCarter Theater, as well as summers at
              Shakespeare Theater of NJ, and Williamstown Theater Festival. Rich is a founding member of the NYC
              theater collective Exit, Pursued by a Bear. His work with EPBB includes Restoration Comedy, King Lear,
              Arok of Java, and Greater Angels. He received his B.F.A. in Acting from Carnegie Mellon University.
            </p>
          </div>
        </div>
      </div>
      <hr class="featurette-divider">
      <div class="anchor" id="WillDeMeo"></div>
      <div class="bs-docs-section">
        <div class="row featurette">
          <div class="col-sm-4">
            <img class="img-responsive" src="/images/headshots/WDMheadshot.jpg"/>
          </div>
          <div class="col-sm-8">
            <h2 class="featurette-heading">Will De Meo<br><span class="text-muted">William Reese</span></h2>
            <p>London born, Will studied at the prestigious William Esper Studio and the
              American Academy of Dramatic Arts. He currently lives in New York
              working as an actor and voice over talent. Recent film work includes Life
              Just Is (nominated for Best British film at Edinburgh International Film
              Festival 2012), Shame The Devil (2013) and Project Seal (2013). Theater
              work: The Fog (HERE Arts Center) and Pride and Prejudice (Dreyfuss
              Theater). Will can be heard in corporate and commercial voice overs
              throughout the world and has recently become one of the voices for BBC
              America. He can also sometimes be found hiding away in his favorite
              place, the McKittrick Hotel, for the hit Off-Broadway show Sleep No
              More, under the name of "Elliott".<br>
              Reel: <a href="http://vimeo.com/45802035" target="_blank">http://vimeo.com/45802035</a>
            </p>
          </div>
        </div>
      </div>
      <hr class="featurette-divider">
      <div class="anchor" id="StevePyke"></div>
      <div class="bs-docs-section">
        <div class="row featurette">
          <div class="col-sm-4 right">
            <img class="img-responsive" src="/images/headshots/SPheadshot.jpg"/>
          </div>
          <div class="col-sm-8">
            <h2 class="featurette-heading">Steve Pyke<br><span class="text-muted">Contemporary Richie Hughes</span></h2>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
