<div class="container bs-docs-container">
  <div class="row">
    <div class="col-sm-2">
      <div id="sidebar" class="bs-docs-sidebar hidden-print affix-top" role="custom">
        <ul class="nav bs-docs-sidenav">
          <li class="active">
            <a href="#TamaFilianga">Tama Filianga</a>
          </li>
          <li>
            <a href="#MaggieFine">Maggie Fine</a>
          </li>
          <li>
            <a href="#NatashaSotoAlbors">Natasha Soto-Albors</a>
          </li>
          <li>
            <a href="#MalloryGracenin">Mallory Gracenin</a>
          </li>
          <li>
            <a href="#RotimiPaul">Rotimi Paul</a>
          </li>
          <li>
            <a href="#RichieDreher">Richie Dreher</a>
          </li>
          <li>
            <a href="#WillDeMeo">Will De Meo</a>
          </li>
          <li>
            <a href="#StevePyke">Steve Pyke</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-sm-10" role="main">
      <div class="bs-docs-section" id="TamaFilianga">
        <div class="row featurette">
          <div class="col-sm-4">
            <img class="img-responsive" src="/images/headshots/McGuirk.jpeg"/>
          </div>
          <div class="col-sm-8">
            <h2 class="featurette-heading">Tama Filianga <span class="text-muted"></span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          </div>
        </div>
      </div>
      <hr class="featurette-divider" id="MaggieFine">
      <div class="bs-docs-section">
        <div class="row featurette">
          <div class="col-sm-8">
            <h2 class="featurette-heading">Maggie Fine <span class="text-muted"></span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          </div>
          <div class="col-sm-4">
            <img class="img-responsive" src="/images/headshots/McGuirk.jpeg"/>
          </div>
        </div>
      </div>
      <hr class="featurette-divider" id="NatashaSotoAlbors">
      <div class="bs-docs-section">
        <div class="row featurette">
          <div class="col-sm-4">
            <img class="img-responsive" src="/images/headshots/McGuirk.jpeg"/>
          </div>
          <div class="col-sm-8">
            <h2 class="featurette-heading">Natasha-Soto-Albors <span class="text-muted"></span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          </div>
        </div>
      </div>
      <hr class="featurette-divider" id="MalloryGracenin">
      <div class="bs-docs-section">
        <div class="row featurette">
          <div class="col-sm-8">
            <h2 class="featurette-heading">Mallory Gracenin <span class="text-muted"></span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          </div>
          <div class="col-sm-4">
            <img class="img-responsive" src="/images/headshots/McGuirk.jpeg"/>
          </div>
        </div>
      </div>
      <hr class="featurette-divider" id="RotimiPaul">
      <div class="bs-docs-section">
        <div class="row featurette">
          <div class="col-sm-4">
            <img class="img-responsive" src="/images/headshots/McGuirk.jpeg"/>
          </div>
          <div class="col-sm-8">
            <h2 class="featurette-heading">Rotimi Paul <span class="text-muted"></span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          </div>
        </div>
      </div>
      <hr class="featurette-divider" id="RichieDreher">
      <div class="bs-docs-section">
        <div class="row featurette">
          <div class="col-sm-4">
            <img class="img-responsive" src="/images/headshots/McGuirk.jpeg"/>
          </div>
          <div class="col-sm-8">
            <h2 class="featurette-heading">Richie Dreher <span class="text-muted"></span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          </div>
        </div>
      </div>
      <hr class="featurette-divider" id="WillDeMeo">
      <div class="bs-docs-section">
        <div class="row featurette">
          <div class="col-sm-4">
            <img class="img-responsive" src="/images/headshots/McGuirk.jpeg"/>
          </div>
          <div class="col-sm-8">
            <h2 class="featurette-heading">Will De Meo <span class="text-muted"></span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          </div>
        </div>
      </div>
      <hr class="featurette-divider" id="StevePyke">
      <div class="bs-docs-section">
        <div class="row featurette">
          <div class="col-sm-4">
            <img class="img-responsive" src="/images/headshots/McGuirk.jpeg"/>
          </div>
          <div class="col-sm-8">
            <h2 class="featurette-heading">Steve Pyke <span class="text-muted"></span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
