<div class="container filmmakers">
  <div class="col-sm-4">
    <img class="img-responsive" src="/images/headshots/McGuirk.jpg"/>
    <h1>Mike McGuirk</h1>
  </div>
  <div class="col-sm-4">
    <img class="img-responsive" src="/images/headshots/JK.jpg"/>
    <h1>John Kelley</h1>
  </div>
  <div class="col-sm-4">
    <img class="img-responsive" src="/images/headshots/PB.jpg"/>
    <h1>Patricia Beaury</h1>
  </div>
</div>
<hr>
<div class="container">
  <h3>Mike McGuirk</h3>
  <p>
    Mike grew up on the sandbar peninsula of Cape Cod, Massachusetts. Mike’s first camera, community theater, and
    hacking a beat-up family desktop computer would be his tools to imagine directing major motion pictures. He would go
    on to study filmmaking at Columbia College Chicago, at Goldsmiths - University of London and in Los Angeles he was
    accepted into the Columbia Producing Intensive. In 2009, he established himself in Brooklyn. At twenty-five he
    became a Director’s Guild of America Assistant Director. Mike recently accepted a position to work on an experimental
    project at The Massachusetts Institute of Technology to reach millions around the world and advance online education
    with major filmmaking technique. Mike is incredibly passionate about filmmaking and innovating the industry using
    new methods of cinematography to tell powerful stories.
    <br>
    <em>Director’s Guild of America - 2nd Assistant Director</em>
    <br>
    <em>Massachusetts Institute of Technology - Experimental Production Lead</em>
  </p>
</div>
<hr>
<div class="container">
  <h3>John Kelley</h3>
  <p>
    John developed an interest in telling stories through film at an early age of 12, when living in Vienna, Austria,
    his mother bought him his first camera. Since then, John has developed his unique style of cinematography working on
    set with the likes of Janusz Kaminski, Craig McDean, and Steven Klein. John was also chosen to train in steadicam
    with Garret Brown in 2012. After 5 years of working out of New York City, John now calls Berlin, Germany a second
    home and works all over Europe, making him a bi-continental cinematographer. John just DPed his first international
    commercial which will air worldwide in the next few months.
  </p>
</div>
<hr>
<div class="container">
  <h3>Patricia Beaury</h3>
  <p>
    Patricia Beaury has 29 years of experience in marketing, sales and management.  She has been running her own firm
    since 1997. Patricia is passionate about the arts and a long time supporter of independent film.  Beaury Productions
    is a New York-based nascent production company dedicated to producing independent films that are unique, creative
    and intelligent.  We strive to appeal to the mind and soul.
    <br>
    <a href="http://www.beauryproductions.com" target="_blank">www.beauryproductions.com</a>
  </p>
</div>
<hr>