<!--<img id="home_img" class="img-responsive" src="/images/misc/home.jpg"/>-->
<div id="trailer">
  <iframe width="100%" max-height="100%" src="//www.youtube.com/embed/L6czlTrAr8I" frameborder="0" allowfullscreen></iframe>
</div>