<div class="col-sm-4">
  <img id="ghost" class="img-responsive" src="/images/misc/ghost.jpg"/>
</div>
<div class="col-sm-8">
  <h3>
    Our film was scored by Mike McGuirk's Cousin, Brendan McGuirk, and Tony Perry, son the Aerosmith Guitarist Joe Perry.
    They were able to put together an incredibly exciting score that was recorded at Joe's studio The Boneyard, in
    Duxbury, Massachusetts.
  </h3>
</div>