<form class="form-inline">
  <div class="form-group">
    <button id="image-gallery-button" type="button" class="btn btn-primary btn-lg">
      <i class="glyphicon glyphicon-picture"></i>
      Launch Image Gallery
    </button>
  </div>
</form>
<br/>

<div id="links">
  <a href="/images/stills/sof1.jpg" title="" data-gallery>
    <img src="/images/thumbnails/sof1.jpg">
  </a>
  <a href="/images/stills/sof2.jpg" title="" data-gallery>
    <img src="/images/thumbnails/sof2.jpg">
  </a>
  <a href="/images/stills/sof3.jpg" title="" data-gallery>
    <img src="/images/thumbnails/sof3.jpg">
  </a>
  <a href="/images/stills/sof4.jpg" title="" data-gallery>
    <img src="/images/thumbnails/sof4.jpg">
  </a>
  <a href="/images/stills/sof5.jpg" title="" data-gallery>
    <img src="/images/thumbnails/sof5.jpg">
  </a>
  <a href="/images/stills/sof6.jpg" title="" data-gallery>
    <img src="/images/thumbnails/sof6.jpg">
  </a>
  <a href="/images/stills/sof7.jpg" title="" data-gallery>
    <img src="/images/thumbnails/sof7.jpg">
  </a>
  <a href="/images/stills/sof8.jpg" title="" data-gallery>
    <img src="/images/thumbnails/sof8.jpg">
  </a>
  <a href="/images/stills/sof9.jpg" title="" data-gallery>
    <img src="/images/thumbnails/sof9.jpg">
  </a>
  <a href="/images/stills/sof10.jpg" title="" data-gallery>
    <img src="/images/thumbnails/sof10.jpg">
  </a>
  <a href="/images/stills/sof11.jpg" title="" data-gallery>
    <img src="/images/thumbnails/sof11.jpg">
  </a>
  <a href="/images/stills/sof12.jpg" title="" data-gallery>
    <img src="/images/thumbnails/sof12.jpg">
  </a>
  <a href="/images/stills/sof13.jpg" title="" data-gallery>
    <img src="/images/thumbnails/sof13.jpg">
  </a>
  <a href="/images/stills/sof14.jpg" title="" data-gallery>
    <img src="/images/thumbnails/sof14.jpg">
  </a>
  <a href="/images/stills/sof15.jpg" title="" data-gallery>
    <img src="/images/thumbnails/sof15.jpg">
  </a>
  <a href="/images/stills/sof16.jpg" title="" data-gallery>
    <img src="/images/thumbnails/sof16.jpg">
  </a>
  <a href="/images/stills/sof17.jpg" title="" data-gallery>
    <img src="/images/thumbnails/sof17.jpg">
  </a>
  <a href="/images/stills/sof18.jpg" title="" data-gallery>
    <img src="/images/thumbnails/sof18.jpg">
  </a>
  <a href="/images/stills/sof19.jpg" title="" data-gallery>
    <img src="/images/thumbnails/sof19.jpg">
  </a>
  <a href="/images/stills/sof20.jpg" title="" data-gallery>
    <img src="/images/thumbnails/sof20.jpg">
  </a>
  <a href="/images/stills/sof21.jpg" title="" data-gallery>
    <img src="/images/thumbnails/sof21.jpg">
  </a>
  <a href="/images/stills/sof22.jpg" title="" data-gallery>
    <img src="/images/thumbnails/sof22.jpg">
  </a>
  <a href="/images/stills/sof23.jpg" title="" data-gallery>
    <img src="/images/thumbnails/sof23.jpg">
  </a>
  <a href="/images/stills/sof24.jpg" title="" data-gallery>
    <img src="/images/thumbnails/sof24.jpg">
  </a>
  <a href="/images/stills/sof25.jpg" title="" data-gallery>
    <img src="/images/thumbnails/sof25.jpg">
  </a>
  <a href="/images/stills/sof26.jpg" title="" data-gallery>
    <img src="/images/thumbnails/sof26.jpg">
  </a>
  <a href="/images/stills/sof27.jpg" title="" data-gallery>
    <img src="/images/thumbnails/sof27.jpg">
  </a>
  <a href="/images/stills/sof28.jpg" title="" data-gallery>
    <img src="/images/thumbnails/sof28.jpg">
  </a>
  <a href="/images/stills/sof29.jpg" title="" data-gallery>
    <img src="/images/thumbnails/sof29.jpg">
  </a>
  <a href="/images/stills/sof30.jpg" title="" data-gallery>
    <img src="/images/thumbnails/sof30.jpg">
  </a>
  <a href="/images/stills/sof31.jpg" title="" data-gallery>
    <img src="/images/thumbnails/sof31.jpg">
  </a>
  <a href="/images/stills/sof32.jpg" title="" data-gallery>
    <img src="/images/thumbnails/sof32.jpg">
  </a>
  <a href="/images/stills/sof33.jpg" title="" data-gallery>
    <img src="/images/thumbnails/sof33.jpg">
  </a>
  <a href="/images/stills/sof34.jpg" title="" data-gallery>
    <img src="/images/thumbnails/sof34.jpg">
  </a>
  <a href="/images/stills/sof35.jpg" title="" data-gallery>
    <img src="/images/thumbnails/sof35.jpg">
  </a>
  <a href="/images/stills/sof36.jpg" title="" data-gallery>
    <img src="/images/thumbnails/sof36.jpg">
  </a>
  <a href="/images/stills/sof37.jpg" title="" data-gallery>
    <img src="/images/thumbnails/sof37.jpg">
  </a>
  <a href="/images/stills/sof38.jpg" title="" data-gallery>
    <img src="/images/thumbnails/sof38.jpg">
  </a>
  <a href="/images/stills/sof39.jpg" title="" data-gallery>
    <img src="/images/thumbnails/sof39.jpg">
  </a>
  <a href="/images/stills/sof40.jpg" title="" data-gallery>
    <img src="/images/thumbnails/sof40.jpg">
  </a>
  <a href="/images/stills/sof41.jpg" title="" data-gallery>
    <img src="/images/thumbnails/sof41.jpg">
  </a>
  <a href="/images/stills/sof42.jpg" title="" data-gallery>
    <img src="/images/thumbnails/sof42.jpg">
  </a>
  <a href="/images/stills/sof43.jpg" title="" data-gallery>
    <img src="/images/thumbnails/sof43.jpg">
  </a>
  <a href="/images/stills/sof44.jpg" title="" data-gallery>
    <img src="/images/thumbnails/sof44.jpg">
  </a>
  <a href="/images/stills/sof45.jpg" title="" data-gallery>
    <img src="/images/thumbnails/sof45.jpg">
  </a>
  <a href="/images/stills/sof46.jpg" title="" data-gallery>
    <img src="/images/thumbnails/sof46.jpg">
  </a>
  <a href="/images/stills/sof47.jpg" title="" data-gallery>
    <img src="/images/thumbnails/sof47.jpg">
  </a>
  <a href="/images/stills/sof48.jpg" title="" data-gallery>
    <img src="/images/thumbnails/sof48.jpg">
  </a>
  <a href="/images/stills/sof49.jpg" title="" data-gallery>
    <img src="/images/thumbnails/sof49.jpg">
  </a>
  <a href="/images/stills/sof50.jpg" title="" data-gallery>
    <img src="/images/thumbnails/sof50.jpg">
  </a>
  <a href="/images/stills/sof51.jpg" title="" data-gallery>
    <img src="/images/thumbnails/sof51.jpg">
  </a>
  <a href="/images/stills/sof52.jpg" title="" data-gallery>
    <img src="/images/thumbnails/sof52.jpg">
  </a>
</div>

<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
  <!-- The container for the modal slides -->
  <div class="slides"></div>
  <!-- Controls for the borderless lightbox -->
  <h3 class="title"></h3>
  <a class="prev">‹</a>
  <a class="next">›</a>
  <a class="close">×</a>
  <a class="play-pause"></a>
  <ol class="indicator"></ol>
  <!-- The modal dialog, which will be used to wrap the lightbox content -->
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" aria-hidden="true">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body next"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left prev">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Previous
          </button>
          <button type="button" class="btn btn-primary next">
            Next
            <i class="glyphicon glyphicon-chevron-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>