<div id="press">
  <h1>Check out our Press Coverage</h1>
  <h3><a href="http://srqbacklot.com/2014/04/06/5102/" target="blank">SRQ Backlot</a></h3>
  <h3><a href="http://www.barnstablepatriot.com/home2/index.php?option=com_content&task=view&id=36036&Itemid=30" target="blank">
    The Barnstable Patriot</a></h3>
</div>
