/* This is the stylesheet */

body {
  padding-top: 75px;
}

#home_img {
  margin: -25px auto;
}

#sidebar {
  max-width: 100%;
  background-color: #f5f5f5;
  margin-top: 20px;
  padding-top: 2px;
  padding-left: 2px;
  border-radius: 15px;
}

.bs-docs-sidenav li a {
  margin-left: 0;
  padding-left: 0;
}

.featurette img {
  margin-top: 20px;
}

.anchor {
  position: relative;
  top: -70px;
}

#links img {
  height: 100px;
}

.filmmakers img {
  margin-left: auto;
  margin-right: auto;
}

.filmmakers h1 {
  text-align: center;
}

#ghost {
  margin: auto;
}

#credits {
  margin: 0 auto;
}

#footer {
  width: 100%;
  height: 40px;
  margin-top: 25px;
  background-color: #222;
  position: absolute;
  z-index: 5000;
}

@media screen and (max-width: 767px) {
  .affix-top, .affix, .affix-bottom {
    position: relative;
  }
  #sidebar {
    margin-top: 0;
  }
  #sidebar a {
    float: left;
  }
}